<!doctype>
<html>
  <head>
    <title>aloe on aloe.</title>
       <link rel="shortcut icon" type="image/ico" href="images/favicon.ico"/>
       <link rel="stylesheet" href="css/animate.min.css">
  </head>
    <style>
    
    body {
      position: relative;
      background-image: url(images/water.gif);
      font-family: Impact, Charcoal, sans-serif;
      font color: blue;
      margin: 0;
      padding: 0;
    }

    .choices img {
      width: 15%;
      margin-right: 2.5%;
      cursor: pointer;
      opacity: 3;
      transition: 1s all ease;
    }

    .choices img:hover {
      opacity: 0.5;

    }

    audio {
      display: none;
    }

    .header{
      background-image: url("images/aloheader.png");
      background-position: center;
      position: absolute;
      opacity: 0.75;
      top: 10px;
      width: 100%;
      height: 100px;
      background-repeat: no-repeat;
      background-size: contain;

    }

    #aloe {
      float:center;
      top: 100px;

    }

    h2, h3 {
      text-transform: capitalize;
      font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
      font-weight: 8000;
      font color: #00FF7F;
    }

    .interface {
      top: 250px;
      position: absolute;
  }

    #results {
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    #results li {
      background-image: url(images/bar.png);
      opacity: 0.8;
      color: #fff;
      font-size: 24px;
      border-radius: 8px;
      padding: 5px;
      width: 80%;
      margin-bottom: 10px;
      display:none;

    }
  
    #game-board {
      width: 100%;
      position: relative;
    }


     #player {
      margin: 0;
      padding: 0;
      width: 100%;
      opacity: 0.5;
    }


    </style>
  </head>
  
  <body>
    <center>

    <div id="game-board">
      <video id="player" autoplay="true"></video>
        <div class= "header">

  
    </div>
        <div class='interface'>

      <video id= "aloe" width="320" height="280" autoplay="true" loop>
        <source src="video/alo.mp4" type="video/mp4" />
    </video>
      <div class='choices','bounce'>
       <img src="images/aloe1.png" data-pick='rock'>
       <img src="images/aloe2.png" data-pick='paper'>
       <img src="images/alotones.png" data-pick='scissors'>
       <img src="images/aloe 4.png" data-pick='lizard'>
       <img src="images/aloe3.png" data-pick='spock'>
      </div>

         <ul id="results">
        </ul>
      </div>

    </div>

    </center>


     <audio loop="loop" autoplay="autoplay" hidden="true">
      <source src="audio/fresh.mp3" type="audio/mp3">
      </audio>

    <template id='list-item-template'>
      <li>{{message}}</li>
    </template>

    <script src='lib/Player.js'></script>
    <script src='lib/Game.js'></script>
    <script src='lib/jquery-2.1.1.min.js'></script>
    <script src='lib/mustache.min.js'></script>
    <script>

            (function(){
        var mediaOptions = { audio: false, video: true };
       
        if (!navigator.getUserMedia) {
            navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
        }
       
        if (!navigator.getUserMedia){
          return alert('getUserMedia not supported in this browser.');
        }
       
        navigator.getUserMedia(mediaOptions, success, function(e) {
          console.log(e);
        });
       
        function success(stream){
          var video = document.querySelector("#player");
          video.src = window.URL.createObjectURL(stream);
        }
      })();
 

      $(document).ready(function() {
        var remove = function(){
          $(this).remove();
        };
        var render = function(game) {
          var html = $('#list-item-template').html();
          var data = {message: game.winningMessage()};
          return Mustache.render(html,data);
        }
       $('.header').addClass('animated bounce');
        var clare = new Player('you');
        var computer = new Computer('DR alo');
        var game = new Game(clare, computer)

        $('.choices img').on('click',function(){

          clare.picks($(this).data('pick'));
          computer.picks();
          var rendered = Mustache.render($('#list-item-template').html(),{message: game.winningMessage()});
          $(render(game)).prependTo('#results').fadeIn(300);
          $('li:nth-child(5)').fadeOut(300,remove)
           });


        });

  
    </script>

  </body>
</html>